table {
    background-color: #e7f0ed;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    width: 300px;
    border-collapse: collapse;
    box-shadow: 8px 8px 10px #628ca6;
}

table, td, th{
    border: 1px solid rgb(168, 168, 168);
    padding: 8px 1px;
}

thead {
    background-color: #7fb9c2 ;
    font-size: 1.7em;
}

tbody th {
    background-color: #628ca6;
    color: white;

}

tfoot {
    background-color: #7fb9c2 ;
    font-size: .75em;
}

tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}

.goal {
    background-color: #628ca6;
    color: white;
}