html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {font-family: 'Noto Serif', serif;}
h1, h2, h3, h4 {font-family: 'Josefin Sans', sans-serif;}

      /* Header */
header {
    padding: .5rem 2%;
    background-color: #D5CDC3;
    }
header img {float:left; margin-right: 10px; width: 50px;}
header h1 {margin: 0; font-size: 1.3rem;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;}

      /* NAVIGATION */
nav {
    background-color: #1D1E18;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #C6A295;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: rgb(71, 70, 70);
}
nav ul li.active a {
    background-color: #C6A295;
    color: #000000;
}


main {
    padding: 0 2%;
    min-height: 10rem;
}
main img {width: auto;}
#color {width: 300px;
margin: auto;}

footer {
    background-color: #D5CDC3;
    padding: .5rem 2%;
    text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }