main {
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 1rem;
    margin: auto;
    max-width: 400px;
    background-color: rgb(255, 238, 238);
    padding: 1rem;
    border: solid black 1px;
}

section {
    width: 100%;
    background-color: rgb(255, 221, 148);
    margin: auto;
    border: solid black 1px;

}

section h2 {
    color: rgb(133, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

section img{
    box-shadow: 8px 8px 15px black;
    margin: 1rem;
    max-width: 100%;
    
}
@media only screen and (min-width: 560px) {
    .cards{
        grid-template-columns: 1fr 1fr;
        max-width: 800px;

    }

    section img{
        max-width: 80%;
        object-fit: cover;
        height: 400px;
        width: 500px;
        
    }
}

@media only screen and (min-width: 1028px) {
    .cards{
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 800px;

    }

    section img{
        max-width: 80%;
        object-fit: cover;
        height: 300px;
        width: 300px;
        justify-items: end;
        
    }

    section {
        height: 500px;
    }

}